In [4]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

connection = create_connection("sm_app.sqlite")

Connection to SQLite DB successful

In [5]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [6]:
###
# Timestamp	
# Email Address	
# Student or Faculty?	
# Students: Please enter your debit account number here:	
# Your Name (Last, First)	
# Entr√©e (Please complete a second order form if you would like more than one item.)	
# Name Group	
# Duplicates?


#OMG FIX THESE I WROTE IN THE WRONG ONE
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER,
  isStudent BIT,
  name TEXT NOT NULL,
  grade INTEGER,
  email VARCHAR(320),
  balance DECIMAL(8,2)
);
"""
execute_query(connection, create_users_table)

Query executed successfully

In [ ]:
create_orders_table = """
CREATE TABLE IF NOT EXISTS orders (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  FOREIGN KEY (student_id) REFERENCES users (id),
  timeStamp DATETIME,
  vendor TEXT NOT NULL,
  entree TEXT NOT NULL,
  nameGroup BIT,
  cost DECIMAL(8,2)
);
"""
execute_query(connection, create_users_table)